<div class="menuBardemoBasicUsage" ng-cloak layout="column" flex layout-fill>
  <md-toolbar class="md-menu-toolbar" /*style="padding-bottom:10px*/">
    <div class="menu-con" layout="row">
      <md-toolbar-filler layout layout-align="center center" style="background-color: rgb(63, 181, 68);">
        <i class="ion-social-nodejs" style="font-size:50px"></i>
      </md-toolbar-filler>

      <div>
        <h2 class="md-toolbar-tools">{{doc.name}}</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              File
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="fileMngr.new()">
                  New
                  <span class="md-alt-text"> {{ 'M-N' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="fileMngr.open()">
                  Open...
                  <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="fileMngr.save()">
                  Save
                </md-button>
              </md-menu-item>
              <!-- <md-menu-item>
                <md-button ng-click="fileMngr.saveas()">
                  Save As...
                </md-button>
              </md-menu-item> -->
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('Rename', $event)" disabled="disabled">
                  Rename
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                  Print
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Edit
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="ion-ios-undo"></md-icon>
                <md-button ng-click="ctrl.sampleAction('undo', $event)">
                  Undo
                  <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="ion-ios-redo"></md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Redo
                  <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-icon class="ion-scissors" aria-hidden="true"></md-icon>
                <md-button ng-click="ctrl.sampleAction('cut', $event)">
                  Cut
                  <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="ion-ios-copy-outline"></md-icon>
                <md-button ng-click="ctrl.sampleAction('copy', $event)">
                  Copy
                  <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="ion-android-clipboard"></md-icon>
                <md-button ng-click="ctrl.sampleAction('paste', $event)">
                  Paste
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <!--
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                  Find and replace...
                  <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              -->
            </md-menu-content>
          </md-menu>
          <!-- <md-menu>
            <button ng-click="$mdMenu.open()">
              View
            </button>
            <md-menu-content>
              <md-menu-item ng-model="ctrl.settings.printLayout" type="checkbox">Print layout</md-menu-item>
              <md-menu-item class="md-indent">
                <md-menu>
                  <md-button ng-click="$mdMenu.open()">Mode</md-button>
                  <md-menu-content width="3">
                    <md-menu-item ng-model="ctrl.settings.presentationMode" type="radio" value="'presentation'">Presentation</md-menu-item>
                    <md-menu-item ng-model="ctrl.settings.presentationMode" type="radio" value="'edit'">Edit</md-menu-item>
                    <md-menu-item ng-model="ctrl.settings.presentationMode" type="radio" value="'modifiable'">Modifiable</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item ng-model="ctrl.settings.showRuler" type="checkbox">Show ruler</md-menu-item>
              <md-menu-item ng-model="ctrl.settings.showEquationToolbar" type="checkbox">Show equation toolbar</md-menu-item>
              <md-menu-item ng-model="ctrl.settings.showSpellingSuggestions" type="checkbox">Show spelling suggestions</md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item ng-model="ctrl.settings.compactControls" type="checkbox">Compact controls</md-menu-item>
              <md-menu-item ng-model="ctrl.settings.fullScreen" type="checkbox">Full screen</md-menu-item>
            </md-menu-content>
          </md-menu> -->
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Text format
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Headers
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="">
                  Bold
                  <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="">
                  Link
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Emphasis
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Numbered lists
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Bullet points
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Image
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Inline code
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Blockquotes
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="" aria-label="Settings">
                  Insert code
                </md-button>
              </md-menu-item>
              </md-menu-item>

              <!--<md-menu-item>
                <md-button ng-click="ctrl.sampleAction('strikethrough', $event)">
                  Strikethrough
                  <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('superscript', $event)">
                  Superscript
                  <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('subscript', $event)">
                  Subscript
                  <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.toggleSetting('clearFormatting')">Clear Formatting</md-button>
              </md-menu-item>-->
            </md-menu-content>
          </md-menu>

          <!--file managger -->
          <!--
      <md-menu>
        <md-button ng-click="fileMngr.new()" class="md-icon-button" aria-label="Settings">
          <md-icon class="ion-android-document"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="fileMngr.open()" class="md-icon-button" aria-label="Settings">
          <md-icon class="ion-android-folder-open"></md-icon>
        </md-button>
      </md-menu>
      -->
          <md-menu>
            <md-button ng-click="fileMngr.save()" class="md-icon-button" aria-label="Settings">
              <md-icon class="fa fa-floppy-o"></md-icon>
            </md-button>
          </md-menu>

          <!-- edit -->
          <md-menu>
            <md-button ng-click="" class="md-icon-button right" aria-label="Settings">
              <md-icon class="ion-scissors" aria-hidden="true"></md-icon>
            </md-button>
          </md-menu>
          <md-menu>
            <md-button ng-click="" class="md-icon-button center" aria-label="Settings">
              <md-icon class="ion-ios-copy-outline"></md-icon>
            </md-button>
          </md-menu>
          <md-menu>
            <md-button ng-click="" class="md-icon-button left" aria-label="Settings">
              <md-icon class="ion-android-clipboard"></md-icon>
            </md-button>
          </md-menu>

          <!--text edit -->
          <!--
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-header"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-bold"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-table"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-picture-o"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-list-ol"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-list-ul"></md-icon>
        </md-button>
      </md-menu>
      <md-menu>
        <md-button ng-click="" class="md-icon-button" aria-label="Settings">
          <md-icon class="fa fa-quote-left"></md-icon>
        </md-button>
      </md-menu>
      -->
          <!-- row -->
          <md-menu>
            <md-button ng-click="rowMngr.move(-1)" class="md-icon-button right" aria-label="Settings">
              <md-icon class="fa fa-arrow-up"></md-icon>
            </md-button>
          </md-menu>
          <md-menu>
            <md-button ng-click="rowMngr.move(1)" class="md-icon-button center" aria-label="Settings">
              <md-icon class="fa fa-arrow-down"></md-icon>
            </md-button>
          </md-menu>
          <md-menu>
            <md-button ng-click="$mdMenu.open()" class="md-icon-button left" aria-label="Settings">
              <md-icon class="ion-plus-circled"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="rowMngr.add('markdown')">
                  Markdown
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="rowMngr.add('code')">
                  NodeJS
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <!-- run code-->
          <md-menu>
            <md-button ng-click="" class="md-icon-button right" aria-label="Settings">
              <md-icon class="ion-play"></md-icon>
            </md-button>
          </md-menu>
          <md-menu>
            <md-button ng-click="" class="md-icon-button left" aria-label="Settings">
              <md-icon class="ion-stop"></md-icon>
            </md-button>
          </md-menu>

          <!-- other -->
          <md-menu>
            <md-button ng-click="fullscreen.set(!fullscreen.value)" class="md-icon-button" aria-label="Settings">
              <md-icon ng-class="fullscreen.icon"></md-icon>
            </md-button>
          </md-menu>

        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>

  <md-content class="page-container">
    <md-card class="page">
      <h1>{{doc.name}}</h1>
      <div class="smartrow-con" ng-repeat="i in doc.data">
        <smartrow class="smartrow-con" ng-class="{ 'selected' : selected == $index, 'editing' : i.editing }" ng-dblclick="turnEditing(i, true, $event)" rowmodel="i"> SMART</smartrow>
      </div>
    </md-card>
  </md-content>
</div>
